<table class="striped-table">
    <thead>
        <tr>
            <th>Case Id</th>
            <th>Task Name</th>
            <th>Priority</th>
            <th>Start Date</th>
            <th>Out Date</th>
            <th>Follow up Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="#">Task 1</a></td>
            <td>4</td>
            <td>01-04-2020</td>
            <td>05-04-2020</td>
            <td>06-04-2020</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="#">Task 2</a></td>
            <td>1</td>
            <td>01-04-2020</td>
            <td>05-04-2020</td>
            <td>06-04-2020</td>
        </tr>
    </tbody>
</table>