<ul class="menu">
    <li>
        <a href="#">New Case</a>
    </li>
    <li>
        <a href="#">My Profile</a>
        <div class="profile-viewer">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Xxxx xxxxx</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>Xxxx, xxxx, xxx</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>XXXX (XX)</td>
                    </tr>
                    <tr>
                        <td>LOB</td>
                        <td>XX</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </li>
</ul>